p {
    white-space: pre-wrap;
    padding: 1rem;
}

.left-col {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    max-height: 1000%;
    width: 20rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.left-col.edit {
    display: block;
    margin: 0;
}

.sys-buttons {
    height: 4rem;
    display: flex;
    justify-content: center;
}

.left-col div > button {
    margin: 1.5rem .5rem 0 .5rem;
}

.left-col input, .left-col textarea {
    width: 90%;
    margin-top: 1rem;
}

.left-col textarea {
    height: 10rem !important;
}

#sys-banner, #sys-desc {
    margin-bottom: 1rem;
}

#sys-desc {
    height: calc(100vh - 8rem) !important;
    margin: 1rem auto 0 1rem;
}

.sys-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.sys-header textarea {
    height: 10rem;
}

.sys-pfp {
    border-radius: 9999px;
    border: 4px solid;
    width: 60%;
}

.sys-banner {
    border-radius: 1rem;
    border: 4px solid;
    margin-bottom: 1rem;
}

.sys-extra {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.right-col {
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    right: 0px;
    bottom: 4rem;
    top: 0;
    height: calc(100vh - 4rem);
    width: calc(100vw - 20rem);
}

.member-div {
    margin: 1rem;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    text-align: left;
}

/* All images, meant to target banner */
.member-div img {
    width: 90%;
    margin: 0 auto 1rem auto;
    border: 4px solid #4FD1C5;
    border-radius: 1rem;
}

.member-header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* Just pfp */
.member-header img {
    width: 8rem;
    height: 8rem;
    margin: 1rem;
    border-radius: 9999px;
    border: 4px solid #4FD1C5;
}

hr {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 1rem;
    width: 90%;
    border-bottom: 3px solid #4FD1C5;
}


/* Member styles */
.mem-etc {
    display: flex;
}

#mem-desc {
    float: left;
    width: 50%;
}

#mem-proxies {
    margin-top: 1rem;
}

#mem-priv {
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
}

.proxy {
    padding: 0;
}


/* Member Mutable Styles */
.edit {
    margin-top: 1rem;
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.pfp-url {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    width: 90%;
    grid-column: 1 / 3;
}

.pfp-url textarea {
    height: 10rem;
}

.name-etc {
    margin-top: 1rem;
    width: 90%;
}

.name-etc input {
    margin: .5rem 0 0 0;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons > button {
    margin: .5rem 1rem .5rem auto
}

.banner-url {
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-url textarea {
    width: 90%;
    height: 5rem;
}

.mem-etc textarea {
    width: 60%;
    margin: 1rem auto 1rem auto;
    height: 20rem;
}


/* Media Queries */
@media screen and (max-width: 1600px) {
    .right-col {
        grid-template-columns: 1fr 1fr;
    }
    .mem-etc {
        flex-direction: column;
    }
    #mem-desc { 
        width: 100%;
    }
    .mem-etc textarea {
        width: 90%;
    }
    #mem-proxies {
        margin-left: 1rem;
    }
    #mem-priv {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 1180px) {
    .right-col {
        grid-template-columns: 1fr;
        position: relative;
        top: 12rem;
        width: 100%;
        height: calc(100vh - 12rem - 8rem);
    }
    .left-col {
        position: absolute;
        top: 0;
        height: 12rem;
        width: 100vw;
        align-items: flex-start;
        padding: 1rem;
    }
    .sys-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        width: fit-content;
        margin: 0;
    }
    .sys-header > h1 {
        grid-column: 1 / 2;
    }
    .sys-banner {
        grid-column: 1 / 2;
    }
    .sys-pfp {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        width: 8rem;
    }
}

@media (prefers-color-scheme: dark) {
    .left-col {
        background-color: rgb(61, 61, 61);
    }
    .right-col {
        background-color: rgb(20, 20, 20);
    }
    .member-div {
        background-color: rgb(61, 61, 61);
    }
    input[type=checkbox][disabled] {
        color: #81E6D9;
    }
}